html, body, #map-canvas {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Open Sans', 'sans-serif';
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: calc(147px / -2) calc(191px / -2);
    z-index: 10;
    background: rgba(242, 242, 242, 0.8);
    padding: 20px;
    width: 191px;
    height: 117px;
}

#panel {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    width: auto;
    padding: 5px 10px;
    z-index: 10;
    line-height: 20px;

    background: rgba(242, 242, 242, 0.8);
}

#panel > span {
    line-height: 30px;
    margin-left: 13px;
}

#panel > span > i {
    cursor: pointer;
}

#panel > span > i[data-checked="false"] {
    opacity: 0.2;
}

#station-info {
    display: none;
    position: absolute;
    top: 0;
    left: 75px;
    width: calc(100% - 75px - 160px);
    min-height: 120px;
    background: rgba(242, 242, 242, 0.9);
    z-index: 10;
}

#station-info .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

#station-info .left-info {
    float: left;
    padding-left: 20px;
}

#station-info .right-info {
    float: right;
    padding: 20px;
    width: calc(100% - 280px);
}

#station-info .title {
    font-size: 24px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.lines {
    position: absolute;
    top: 50%;
    margin-top: 0;
}

.line {
    display: inline-block;
    width: 48px;
    height: 24px;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    margin-left: auto;
    margin-right: 5px;
}

.line.RD {
    background-color: #BF1237;
    color: white;
}

.line.BL {
    background-color: #0993D5;
    color: white;
}

.line.GR {
    background-color: #00AF51;
    color: white;
}

.line.OR {
    background-color: #DD8602;
    color: white;
}

.line.SV {
    background-color: #A0A2A0;
    color: black;
}

.line.YL {
    background-color: #F6D316;
    color: black;
}

.line.grey {
    background-color: grey;
    color: white;
}


.destination-table {
    width: 100%;
    text-align: center;
}

.destination-table thead tr {
    font-size: 18px;
    color: rgba(48, 48, 48, 0.4);
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps
}

.destination-table .line-row {
    width: 10%;
}

.destination-table .car-row {
    width: 10%;
}

.destination-table .dest-row {
    width: 40%;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.destination-table .time-row {
    width: 10%;
}

.destination-table .arr-row {
    width: 30%;
}

#search {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 300px;
    z-index: 5;
    background: rgba(242, 242, 242, 0.5);
    padding: 5px;
}

#search-box {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

#search-close {
    display: none;
    position: absolute;
    right: -30px;
    bottom: 3px;
    cursor: pointer;
}

#search-results {
    max-height: 510px;
    overflow-y: auto;
}

#search-results .result {
    cursor: pointer;
    line-height: 30px;
}

.train-icon, .bus-icon {
    position: relative;
    margin-left: -15px;
    background: #f0f0f0;
}